body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa
}

.App {
  text-align: center;
}

.App-header {
  text-align: center;
  background-color: #222;
  height: 20%;
  padding: 2%;
  color: #fafafa;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3% auto;
}

.form * {
  margin: .5%;
}

.form-control:focus {
  border-color: #222;
}

.form .btn:focus {
  outline-color: #222;
}

.results_headers {
  background-color: #222;
}

.results_headers:hover {
  cursor: pointer;
}

table {
  width: 90%;
  margin: 3% auto;
  border: 1px solid #222;
}

table, th, td {
  padding: 1%;
  text-align: left;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
}

th {
  color: #fafafa;
  background-color: #222;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:nth-child(odd) {
    background-color: #fafafa;
}

.pagination>li>a {
  color: #222;
}

.pagination>.active>a {
  color: #fafafa;
  background-color: #222;
  border: 1px solid #222;
}

.pagination>li>a:hover {
  cursor: pointer;
  color: #222
}

.pagination>.active>a:hover {
  background-color: #444;
  border: 1px solid #444;
}

/*Patient Detail Page*/

.credentials {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
}

.fields {
  display: flex;
  margin: 1%;
  justify-content: center;
  border-bottom: 1px solid #222;
  flex-wrap: nowrap;
}

.fieldNames {
  padding: 0 10px;
  color: #fafafa;
  background-color: #222;
}

.fieldContent {
  padding: 0 10px;
}

.bold {
  font-weight: bold;
}

.dates {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
} 

.lists {
  display: flex; 
}

.reverseFields {
  margin: 1%;
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-end;
}

.colFields {
  text-align: left;
}
